/* TOOLS */
/* general */
.container .nav-link:hover {
    color: #4e6fa4;
}
.background {
    background-color: #2b3035;
}

/* home-specific */
#hero {
    background: #161616 url('./img/hero.jpg') no-repeat right/cover;
    padding: 10%;
}

/* contact-specific */
#contact-form .input-group {
    margin-bottom: 20px;
    width: 100%;
}
#contact-form label {
    display: block;
    margin-bottom: 5px;
}
#contact-form input, 
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #bbbbbb;
}
#contact-form textarea {
    height: 200px;
}
#contact-form input:focus, 
#contact-form textarea:focus {
    outline: none;
    border-color: #198754;
}

/* JS STUFF */
.card {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card a {
    color: white;
    text-decoration: none;
}
.card #title {
    font-size:xx-large;
    font-weight: bold;
    
}
.squish {
    padding-top: 30px;
    margin: 30px;
}